body {
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 20% 1fr 10%;
  background-color: lightpink;
  grid-template-areas:
    "header header  nav"
    "main  main aside"
    "footer footer footer";
}
header {
  grid-area: header;
  grid-column: 1/2;
  background-color: plum;
}
.container-img {
  height: 100%;
}
nav {
  grid-area: nav;
  grid-column: 2/4;
  background-color: chocolate;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
  background-color: aqua;
  grid-column: 3/4;
}
footer {
  grid-area: footer;
  background-color: azure;
}
