/*body {
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-template-rows: 20% 1fr 10%;
  grid-template-areas:
    "header  nav"
    "aside main"
    "footer footer";
}
header {
  display: flex;
  grid-area: header;
}
.container-img {
  height: 100%;
}
nav {
  grid-area: nav;
  background-color: chocolate;
}

main {
  grid-area: main;
  background-color: blanchedalmond;
}

aside {
  grid-area: aside;
  background-color: aqua;
  grid-column: 3/4;
}
footer {
  grid-area: footer;
  background-color: azure;
}*/
